body {
  background-color: #F6F6F6;
}
h1 {
  font-family: 'Arvo', Arial, serif;
  font-weight: 400;
  color: #3C5F89;
}
h4 {
  font-family: 'Arvo', Arial, serif;
  font-weight: 400;
  color: #3C5F89;
}